<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="entry_form">
      <section class="stats">
        <%= render 'shared/list_follow' %>
      </section>
      <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Entry list</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>WELCOME TO BLOG FRAMGIA</h1>
  <h2>This is home page for the 
    <a href="http://recruit.framgia.vn/"></a>FRAMGIA</h2>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to image_tag("fram2.jpg", alt: "Framgia logo"), 
      "http:http://recruit.framgia.vn/" %>
</div>
<% end %>